body{
	background-color: #FF487D;
}
p{
	color: white;
}

div{
	background-color: black; 
	color: red;
}
kbd{
	border: 1px solid black; 
    background-color: white;
}
h2{
	background-color: #5DA7D9;
	color: #873600;
}
img{
	max-width: 300px; 
	max-height: 200px;
}